
{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block content %}
<!----------------------------------------NAVIGATION ENDS----------------------------------->
    <div class="row" style="margin-left:20px;">
        <div class="col sticky center-align s3  z-depth-2" style="margin-left:0;margin-top:10px;">
                <div class="info">
                    <div class="row">
                        <div class="col s6">
                            {% if user.profile.profile_image %}
                   <img src="{{user.profile.profile_image.url}}" alt="" class="circle responsive-img" style="margin-top:20px;height:100px;width:100px;">
                            {% else %}
                            <img src="images/marcus.webp" alt="" class="circle responsive-img" style="margin-top:20px;height:100px;width:100px;">
                            <a href="{% url 'image_upload' pk=user.pk %}">upload image</a>
                            {% endif %}
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s6">

                            <div class="left-align" style="margin-top:30px;">
                    <p class="name" style="font-weight:bold;">{{user.get_full_name}}</p>
                    <p class="who_are grey-text text-darken-2" style="margin-top:-15px;font-size:14px;font-weight:bold;">{{user.profile.description}}</p>
                                <button class="btn my_button" type="submit" name="action">Follow</button>
                                </div>
                            </div>
                        </div>
                    <div class="divider"></div>
                    <!-----------About Me---------->
                    <div class="about section left-align">
                        <div class="" style="padding-bottom:10px;">
                        <span class="name" style="margin-left:8px;margin-top:-5px;font-weight:bold;">About Me</span>
                            <div class="more-icons">
                                <a href="#" class="dropdown-trigger" data-target="dropdown1">
                            <i class="icons tiny  material-icons" >more_horiz</i></a>
                         <ul id='dropdown1' class='dropdown-content'>
                             <li><a href="{% url 'edit_aboutme' pk=user.pk %}">
edit about me</a></li>

                         </ul>
                        </div>
                        </div>
                            <div class="row">
                                {% if not user.profile.about_me %}
                                <div class="col about_col left-align">
                                <a href="{% url 'aboutme' pk=user.pk %}" class="waves-effect waves-teal btn-flat add_button">Add About you</a>
                                </div>
                                {% else %}
                                <div class="col about_col left-align">
                                    <p class="about_info">{{user.profile.about_me}}</p>
                                </div>
                                {% endif %}
                            </div>

                    </div>
                    <div class="divider"></div>
                    <!--------SKILLS--------------->
                    <div class="skills section left-align">
                        <div class="" style="padding-bottom:10px;">
                        <span class="name" style="margin-top:-5px;margin-left:8px;font-weight:bold;">Skills</span>
                        <div class="more-icons">
                                <a href="#" class="dropdown-trigger" data-target="dropdown2">

                            <i class="icons tiny  material-icons" >more_horiz</i></a>
                         <ul id='dropdown2' class='dropdown-content'>
                             <li><a href="{% url 'addskills'  %}">Add Skills</a></li>

                         </ul>
                        </div>
                        </div>
                        {% if not user.profile.skills_set.all %}
                        <div class="row">
                            <div class="col skill_col">
                                <a href="{% url 'addskills'  %}" class="waves-effect waves-teal btn-flat add_button">Add skills</a>
                            </div>
                        </div>
                            {% else %}
                            {% for skill in user.profile.skills_set.all %}
                        <div class="row">
                            <div class="col s6 left-align skill_col">
                                    <span class="skill_info">{{skill.name}}</span>
                            </div>
                            <div class="col s6 center-align skill_col">
                                <a href="{% url 'delete_skills' pk=skill.id %}" ><i class="tiny material-icons">clear</i></a>
                            </div>
                        </div>
                            {% endfor %}
                            {% endif %}

                            <!--<div class="row">
                            <div class="col s6 left-align skill_col">
                                <span class="skill_info">Auto Desk</span>
                                    </div>
                                <div class="col s6 center-align skill_col">
<span class="">☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </div>
                        <div class="row">
                            <div class="col s6 left-align skill_col">
                                <span class="skill_info">ArcGis</span>
                                    </div>
                                <div class="col s6 center-align skill_col">
<span class="">☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </div>

                <div class="row">
                            <div class="col s6 left-align skill_col">
                                <span class="skill_info">Sketch Pro</span>
                                    </div>
                                <div class="col s6 center-align skill_col" style="">
<span class="">☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </div>-->


                    </div>
                    <div class="divider"></div>
                    <!--------CONTACT-------------->
                    <div class="contact section left-align">
                       <div class="" style="padding-bottom:10px;">
                        <span class="name" style="margin-top:-5px;margin-left:8px;font-weight:bold;">Contacts</span>
                        <div class="more-icons">
                                <a href="" class="dropdown-trigger" data-target="dropdown3">

                            <i class="icons tiny  material-icons" >more_horiz</i></a>
                         <ul id='dropdown3' class='dropdown-content'>
                             {% if  not user.profile.profilecontact_set.all %}
                             <li><a href="{% url 'addcontact'  %}">Add Contacts</a></li>
                             {% else %}
                             <li><a href="{% url 'edit_contact' pk=user.pk  %}">Edit Contacts</a></li>
                             {% endif %}

                         </ul>
                        </div>
                        </div>
                        <div class="row">
                                <div class="col s6 left-align skill_col">
                                    <span class="skill_info">Email</span>
                                    </div>
                                <div class="col s6 center-align skill_col">
<span class="skill_info">{{user.email}}</span>
                                    </div>
                                </div>
                        {% if  not user.profile.profilecontact_set.all %}
                        <div class="row">
                            <div class="col skill_col">
                                <a href="{% url 'addcontact'  %}" class="waves-effect waves-teal btn-flat add_button">Add Contact</a>
                            </div>
                        </div>
                        {% else %}
                        {% for pro in user.profile.profilecontact_set.all %}
                            <div class="row">
                                <div class="col s6 left-align skill_col">
                                    <span class="skill_info">Phone</span>
                                    </div>
                                <div class="col s6 center-align skill_col">
<span class="skill_info">{{pro.phone}}</span>
                                    </div>
                                </div>
                        <div class="row">
                                <div class="col s6 left-align skill_col">
                                    <span class="skill_info">City</span>
                                    </div>
                                <div class="col s6 center-align skill_col">
<span class="skill_info">{{pro.city}}</span>
                                    </div>
                                </div>
                        {% endfor %}
                        {% endif %}
                        <!--<div class="row">
                                <div class="col s6 left-align skill_col">
                                    <span class="skill_info">City</span>
                                    </div>
                                <div class="col s6 center-align skill_col">
<span class="skill_info">Gurgaon,India</span>
                                    </div>
                                </div>-->
                    </div>

                </div>
            </div>


    <!----------------------Main Page-------------------------------------------->
        <div class=""><span></span></div>
        <div class="col s8" style="margin-left:20px;margin-top:-15px;">
        <!----------------------------2nd Nav---------------------------------->
             <ul class="home_nav">
                 <li class="home_nav">
                     <a class="left-align" href="{% url 'home' username=user.username %}">Home</a></li>
                 <li class="home_nav"><a href="{% url 'resume' username=profile.user.username %}" class="left-align">Resume</a>
             </ul>
            <button class="btn share-button" style="">Share Profile</button>


    <!-------------------------------Video Section-------------------------------->
            <div class="row z-depth-2" style="margin-left:10px;margin-top:15px;padding:15px;" >
                <!-------------------------------EDUCATION-------------------------------------------------------------------->
                <div class="education" style="margin-top:;">
                        <div class="edu-section row">
                            <div class="col s6">
                        <h5 class="edu-head left-align">Education</h5>
                            </div>
                            <div class="col s6" style="margin-top:20px;">
                                <a href="{% url 'edit_education' pk=user.pk %}"><i class="material-icons indigo-text text-darken-4">edit</i></a>
                                </div>
                        </div>
                            {% if masters %}
                        <div class="row edu_box">
                        <div class="col s3 right-align" style="margin-top:-10px;">
                            <p class="date" style="font-weight:bold;">{{profile.masters_education_from|date:"b Y"}} - {{profile.masters_education_till|date:"b Y"}}</p>
                        </div>
                        <div class="col s6 left-align" style="margin-top:-10px;">
                            <p style="font-weight:bold;">{{masters}}</p>
                        <p class="about_info">{{profile.masters_college_name}}</p>
                                </div>
                      </div>
                            {% endif %}
                            {% if bachelors %}
                    <div class="row edu_box">
                        <div class="col s3 right-align" style="margin-top:-10px;">
                            <p class="date" style="font-weight:bold;">{{profile.bachelors_education_from|date:"b Y"}} - {{profile.bachelors_education_till|date:"b Y"}}</p>
                        </div>
                        <div class="col s6 left-align" style="margin-top:-10px;">
                            <p style="font-weight:bold;">{{bachelors}}</p>
                        <p class="about_info">{{profile.bachelors_college_name}}</p>
                                </div>
                    </div>

                            {% endif %}
                            {% if high_school %}
                            <div class="row edu_box">
                            <div class="col s3 right-align" style="margin-top:-10px;">
                            <p class="date" style="font-weight:bold;">{{profile.High_School_from|date:"b Y"}} - {{profile.High_School_till|date:"b Y"}}</p>
                               </div>
                                <div class="col s6 left-align" style="margin-top:-10px;">
                            <p style="font-weight:bold;">{{high_school}}</p>
                        <p class="about_info">{{profile.High_School_name}}</p>
                                </div>
                         </div>
                            {% endif %}
                    </div>
<!------------------------------------------------Work Experience------------------->
                {% if profile.workexperience_set.all %}
                    <div class="Experience" style="margin-top:;">
                    <div class=" row work-section">
                        <div class="col s6">
                    <h5 class="work-head">Work Experience</h5>
                        </div>
                        <div class="col s6" style="margin-top:20px;">
                            <a href="{% url 'workexp' %}" class="btn-floating btn-small waves-effect waves-light indigo darken-4"><i class="material-icons">add</i></a>
                        </div>
                    </div>

                            {% for each in profile.workexperience_set.all %}
                        <div class="row edu-box">
                        <div class="col s3 right-align" style="margin-top:-10px;">
                            <p class="date" style="font-weight:bold;">{{each.worked_from|date:"b Y"}} - {{each.worked_till|date:"b Y"}}</p>
                        </div>
                        <div class="col s9 left-align edit_box" style="margin-top:-10px;">
                            <p style="font-weight:bold;">{{each.organisation}} as <mark class="">{{each.designation}}</mark>
                                &nbsp<span>
                                    <a href="{% url 'edit_workexp' pk=each.pk %}"><i class="material-icons indigo-text text-darken-4">edit</i></a></span><span>&nbsp<a href="{% url 'delete_workexp' pk=each.pk %}"><i class="material-icons indigo-text text-darken-4">delete</i></a></span></p>
                        <p class="work_info">{{each.describe}}</p>
                        </div>
                            </div>
                        {% endfor %}

                    </div>
                {% endif %}
<!--------------------------------------PROJECT---------------------------------->
                {% if profile.project_set.all %}
                    <div class="projects" style="margin-top:;">
                        <div class="pro-section row">
                        <h5 class="edu-head">Projects</h5>

                        <div class="col s3 right-align" style="margin-top:-10px;">
                            <p class="date" style="font-weight:bold;">2014-Jan to 2016-Apr</p>
                        </div>
                        <div class="col s9 left-align" style="margin-top:-10px;">
                            <p style="font-weight:bold;">Optum &nbsp;</p>
                        <p class="work_info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....</p>
                        </div>
                        <div class="col s3 right-align" style="margin-top:-10px;">
                            <p class="date" style="font-weight:bold;">2016-Jan to 2017-Apr</p>
                        </div>
                        <div class="col s9 left-align" style="margin-top:-10px;">
                            <p style="font-weight:bold;">CCAR</p>
                        <p class="work_info">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat....</p>
                        </div>
                      </div>
                    </div>
                {% endif %}
                    <div class="adding-section" style="padding:20px;">
                        {% if not profile.workexperience_set.all %}
                        <a href="{% url 'workexp'  %}" style="margin:20px;" class="btn my_button" type="submit" name="action">Add Work Experience</a>&nbsp;
                        {% endif %}
                        {% if not profile.project_set.all %}
                        <a href="{% url 'project'  %}" style="margin:20px;" class="btn my_button" type="submit" name="action">Add Project</a>&nbsp;
                        {% endif %}
                     <button style="margin:20px;" class="btn my_button" type="submit" name="action">Add Certifications</button>&nbsp;
                        <button
                           style="margin:20px;" class="btn my_button" type="submit" name="action">Add Interests</button>&nbsp;
                        <button style="margin:20px;" class="btn my_button" type="submit" name="action">Preview</button>
                        </div>
                </div>
         </div>
    </div>

<script>
$(document).ready(function(){
   $('.modal').modal();
   $('.dropdown-trigger').dropdown();
});
</script>

{% endblock %}
