
{% extends 'dashboard/base.html' %}
{% load staticfiles %}
{% block content %}
<!----------------------------------------NAVIGATION ENDS----------------------------------->
    <div class="row" style="margin-left:20px;">
        <div class="col sticky center-align s3  z-depth-2" style="margin-left:0;margin-top:10px;">
                <div class="info">
                    <div class="row">
                        <div class="col s6">
                            {% if user.profile.profile_image %}
                   <img src="{{user.profile.profile_image.url}}" alt="" class="circle responsive-img" style="margin-top:20px;height:100px;width:100px;">
                            {% else %}
                            <img src="images/marcus.webp" alt="" class="circle responsive-img" style="margin-top:20px;height:100px;width:100px;">
                            <a href="{% url 'image_upload' pk=user.pk %}">upload image</a>
                            {% endif %}
                            <!-- notice the "circle" class -->
                        </div>
                        <div class="col s6">

                            <div class="left-align" style="margin-top:30px;">
                    <p class="name" style="font-weight:bold;">{{user.get_full_name}}</p>
                    <p class="who_are grey-text text-darken-2" style="margin-top:-15px;font-size:14px;font-weight:bold;">{{user.profile.description}}</p>
                                <button class="btn my_button" type="submit" name="action">Follow</button>
                                </div>
                            </div>
                        </div>
                    <div class="divider"></div>
                    <!-----------About Me---------->
                    <div class="about section left-align">
                        <div class="" style="padding-bottom:10px;">
                        <span class="name" style="margin-left:8px;margin-top:-5px;font-weight:bold;">About Me</span>
                            <div class="more-icons">
                                <a href="#" class="dropdown-trigger" data-target="dropdown1">
                            <i class="icons tiny  material-icons" >more_horiz</i></a>
                         <ul id='dropdown1' class='dropdown-content'>
                             <li><a href="{% url 'edit_aboutme' pk=user.pk %}">
edit about me</a></li>

                         </ul>
                        </div>
                        </div>
                            <div class="row">
                                {% if not user.profile.about_me %}
                                <div class="col about_col left-align">
                                <a href="{% url 'aboutme' pk=user.pk %}" class="waves-effect waves-teal btn-flat add_button">Add About you</a>
                                </div>
                                {% else %}
                                <div class="col about_col left-align">
                                    <p class="about_info">{{user.profile.about_me}}</p>
                                </div>
                                {% endif %}
                            </div>

                    </div>
                    <div class="divider"></div>
                    <!--------SKILLS--------------->
                    <div class="skills section left-align">
                        <div class="" style="padding-bottom:10px;">
                        <span class="name" style="margin-top:-5px;margin-left:8px;font-weight:bold;">Skills</span>
                        <div class="more-icons">
                                <a href="#" class="dropdown-trigger" data-target="dropdown2">

                            <i class="icons tiny  material-icons" >more_horiz</i></a>
                         <ul id='dropdown2' class='dropdown-content'>
                             <li><a href="{% url 'addskills'  %}">Add Skills</a></li>

                         </ul>
                        </div>
                        </div>
                        {% if not user.profile.skills_set.all %}
                        <div class="row">
                            <div class="col skill_col">
                                <a href="{% url 'addskills'  %}" class="waves-effect waves-teal btn-flat add_button">Add skills</a>
                            </div>
                        </div>
                            {% else %}
                            {% for skill in user.profile.skills_set.all %}
                        <div class="row">
                            <div class="col s6 left-align skill_col">
                                    <span class="skill_info">{{skill.name}}</span>
                            </div>
                            <div class="col s6 center-align skill_col">
                                <a href="{% url 'delete_skills' pk=skill.id %}" ><i class="tiny material-icons">clear</i></a>
                            </div>
                        </div>
                            {% endfor %}
                            {% endif %}

                            <!--<div class="row">
                            <div class="col s6 left-align skill_col">
                                <span class="skill_info">Auto Desk</span>
                                    </div>
                                <div class="col s6 center-align skill_col">
<span class="">☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </div>
                        <div class="row">
                            <div class="col s6 left-align skill_col">
                                <span class="skill_info">ArcGis</span>
                                    </div>
                                <div class="col s6 center-align skill_col">
<span class="">☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </div>

                <div class="row">
                            <div class="col s6 left-align skill_col">
                                <span class="skill_info">Sketch Pro</span>
                                    </div>
                                <div class="col s6 center-align skill_col" style="">
<span class="">☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span>
                                    </div>
                                </div>-->


                    </div>
                    <div class="divider"></div>
                    <!--------CONTACT-------------->
                    <div class="contact section left-align">
                       <div class="" style="padding-bottom:10px;">
                        <span class="name" style="margin-top:-5px;margin-left:8px;font-weight:bold;">Contacts</span>
                        <div class="more-icons">
                                <a href="" class="dropdown-trigger" data-target="dropdown3">

                            <i class="icons tiny  material-icons" >more_horiz</i></a>
                         <ul id='dropdown3' class='dropdown-content'>
                             {% if  not user.profile.profilecontact_set.all %}
                             <li><a href="{% url 'addcontact'  %}">Add Contacts</a></li>
                             {% else %}
                             <li><a href="{% url 'edit_contact' pk=user.pk  %}">Edit Contacts</a></li>
                             {% endif %}

                         </ul>
                        </div>
                        </div>
                        <div class="row">
                                <div class="col s6 left-align skill_col">
                                    <span class="skill_info">Email</span>
                                    </div>
                                <div class="col s6 center-align skill_col">
<span class="skill_info">{{user.email}}</span>
                                    </div>
                                </div>
                        {% if  not user.profile.profilecontact_set.all %}
                        <div class="row">
                            <div class="col skill_col">
                                <a href="{% url 'addcontact'  %}" class="waves-effect waves-teal btn-flat add_button">Add Contact</a>
                            </div>
                        </div>
                        {% else %}
                        {% for pro in user.profile.profilecontact_set.all %}
                            <div class="row">
                                <div class="col s6 left-align skill_col">
                                    <span class="skill_info">Phone</span>
                                    </div>
                                <div class="col s6 center-align skill_col">
<span class="skill_info">{{pro.phone}}</span>
                                    </div>
                                </div>
                        <div class="row">
                                <div class="col s6 left-align skill_col">
                                    <span class="skill_info">City</span>
                                    </div>
                                <div class="col s6 center-align skill_col">
<span class="skill_info">{{pro.city}}</span>
                                    </div>
                                </div>
                        {% endfor %}
                        {% endif %}
                        <!--<div class="row">
                                <div class="col s6 left-align skill_col">
                                    <span class="skill_info">City</span>
                                    </div>
                                <div class="col s6 center-align skill_col">
<span class="skill_info">Gurgaon,India</span>
                                    </div>
                                </div>-->
                    </div>

                </div>
            </div>


    <!----------------------Main Page-------------------------------------------->
        <div class=""><span></span></div>
        <div class="col s8" style="margin-left:20px;margin-top:-15px;">
        <!----------------------------2nd Nav---------------------------------->
             <ul class="home_nav">
                 <li class="home_nav">
                     <a class="left-align" href="{% url 'home' username=user.username %}">Home</a></li>
                 <li class="home_nav"><a href="{% url 'resume' username=profile.user.username %}" class="left-align">Resume</a>
             </ul>
            <button class="btn share-button" style="">Share Profile</button>


    <!-------------------------------Video Section-------------------------------->
            <div class="">
                <div class="row">
                    <div class="">
                        {% if  user.profile.post_set.all%}
                            {% for all in user.profile.post_set.all %}
                               <video class="responsive-video left-align" style="padding:10px;width:100%;height:100%;" controls>
                    <source  src="{{all.video.url}}" type="video/mp4">
             </video>
                        <p class="video_text_big">{{all.title}}</p>
                    </div>
                            {% endfor %}
                    <div class="center-align">
                    <a href="{% url 'uploadskills' %}" class="btn my_button" type="submit" name="action">Upload More Videos</a>
                    </div>
                        {% else %}
                    <div class="" style="margin-left:20px;position:absolute;">
                    <h1>Let Them Take A Note Of You !</h1>
                    <h4>Introduce Yourself</h4>
                        <a href="{% url 'uploadskills' %}" class="btn my_button" type="submit" name="action">Upload Introduction Video</a>
                        </div>
                    <img style="margin-left:220px;margin-top:110px;hieght:50%;width:50%" class="circle responsive" src="{% static 'images/images/astronaut_home.jpg' %}">
                    {% endif %}
                </div>
             <!--<video class="responsive-video left-align" style="padding:10px;width:100%;height:100%;" controls>
                    <source  src="images/movie.mp4" type="video/mp4">
             </video>
            <p class="video_text_big">A recent Bachelor of Design in Architecture student with a particular interest in architectural design, technology, photography.</p>-->
                </div>
         </div>
    </div>

<script>
$(document).ready(function(){
   $('.modal').modal();
   $('.dropdown-trigger').dropdown();
});
</script>

{% endblock %}
